{% extends "index.html" %}

{% block contenu %}

{% if 'pseudonyme' in session %}
<div class="fond_connexion">
    <div class="connexion_box">
        <div  class="fermer"><a href="/">+</a></div>
<div class="envoie_images">
        <form action="{{ url_for('envoie_image') }}" method="POST" enctype="multipart/form-data">

            <label for="image">Image
                <input type="file" id="image" name="image_importe" required></label>
            <label><i>Formats autorisés: png, jpg, jpeg.</i></label>
            <label for="titre">Titre
                <input type="text" name="titre" required></label>

            <input type="submit" value="ENVOYER">
    </form>
        <label ><a href="/connecter">Retour</a></label>
</div>
    </div>
</div>
{% else %}
<div class="fond_connexion">
    <p><span >Connectez vous pour ajouter des images</span></p>
    <div class="connexion_box">
        <div  class="fermer"><a href="/">+</a></div>
        <div class="connexion_box_without_x">
        <div class="connexion_box_select_liste">
            <div class="connexion_box_select"><a href="/inscription">Nouveau compte</a></div>
            <div class="connexion_box_select selected"><a href="#">Connexion</a></div>
        </div>
        <form action="/connecter" id="connecter"  method="POST">
            <div class="connecter_input">
                <div class="connecter_input_mail">
                    <div class=""><label >
                        <input name="pseudonyme" type="text"  value="" placeholder="Pseudonyme" required/></label></div>
                </div>
                <div class="connecter_input_mdp">
                    <div class="" ><label> <input name="mot_de_passe" type="password" value="" placeholder="Mot de passe" required/>
                    </label></div>
                </div>
            </div>
            <div class="connecter_valider">
                <!--<div class=""><a>Mot de passe oublié?</a></div>-->
                <button class="" type="submit" name="Connexion" style="opacity: 1;">Connexion</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}